<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739112703448-q32ltdak3644777i3790lvgeq9hpk06l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739112703448-q32ltdak3644777i3790lvgeq9hpk06l</string>
	<key>API_KEY</key>
	<string>AIzaSyCfmJHvnoBPlvP3kuZYV56GntpCgNEHKsU</string>
	<key>GCM_SENDER_ID</key>
	<string>739112703448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>ionic-a0bf2</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-a0bf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739112703448:ios:84cd2404d5aa63061dcead</string>
</dict>
</plist>